include ../mixins/admin-mixin

doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/css/reset.css')
    link(rel="stylesheet", href="//cdn.bootcss.com/font-awesome/4.7.0/css/font-awesome.min.css")
    link(rel="stylesheet", href="//cdn.bootcss.com/semantic-ui/2.2.13/semantic.min.css")
    link(rel='stylesheet', href='/css/public-admin.css')
    block links
      
  body
    .adminMainContainer
      .topMenuBarContainer
        +header(menuData)
      .adminBodyContainer
        .sideMenuContainer
          .sideMenuBar
            i.fa.fa-bars
          ul.listGroup
            -for(var i in menuData.menuList)
              +listItem(menuData.menuList[i],menuData.pagesName)
        .mainBodyContainer
          block content

    script(src="//cdn.bootcss.com/jquery/3.2.1/jquery.min.js")    
    script(src="//cdn.bootcss.com/semantic-ui/2.2.13/semantic.min.js")
    script(src="/js/public-admin.js")
    
    block scripts
    


